# AWS Configuration
VITE_AWS_REGION=eu-north-1
VITE_AWS_ACCOUNT_ID=381491863915

# Cognito Configuration
VITE_COGNITO_USER_POOL_ID=eu-north-1_RFZvLrDd9
VITE_COGNITO_CLIENT_ID=1cvth0disa6uhcgflcsih54hfl

# S3 and CloudFront
VITE_S3_BUCKET_NAME=serverless-social-media-storage-123
VITE_CLOUDFRONT_DOMAIN=dsvtq5o5a0ykh.cloudfront.net

# API Gateway URLs (will be generated after backend deployment)
VITE_API_GATEWAY_URL=https://0y69saeat8.execute-api.eu-north-1.amazonaws.com/prod
VITE_WEBSOCKET_URL=wss://p1voy1sttd.execute-api.eu-north-1.amazonaws.com/prod

# WebSocket API ID (will be generated after backend deployment)
VITE_WEBSOCKET_API_ID=p1voy1sttd